/* All Tags */
h1 {
    text-align: center;
    background-color: coral;
    border: coral 25px solid;
    color: white;
}

h3 {
    text-indent: 5%;
}

ul {
    list-style: none;
}

p {
    text-indent: 10%;
}
body {
    background-color: bisque;
}
/* Class */
.SQL {
    display: none;
}
.DDL ul li {
 color: green;
}
.DQL ul li {
 color: green;  
}
.DML ul li {
 color: green;  
}
.AI {
    display: none;
}
.http {
    display: none;
}
.RestFUL {
    display: none;
}
.API-Info {
    display: none;
}
.javaScript {
    display: none;
}

.Welcome h2 {
    text-align: center;
}
/* IDs */
#H {
    color: red;
}
#T {
    color: red;
}

#P {
    color: red;
}
#s-http {
    color: red;
}
#s-domain {
    color: orange;
}
#s-path {
    color: brown;
}
#s-resource {
    color: darkorange;
}
#S {
    color: blue;
}
#Q {
    color: purple;
}
#L {
    color: orange;
}

#i-api {
    color: red;
}

#a-api {
    color: blue;
}

#p-api {
    color: green;
}

#SQL-BTN {
    display: block;
    margin: 25px auto 0;
    background-color: darkgreen;
    color: white;
    border-radius: 15px;
   
}

#AI-btn {
    display: block;
    margin: 25px auto 0;
    background-color: orange;
    color: white;
    border-radius: 15px;  
}

#s-AI {
 color: #FF8C00;
}

#HTTP-Btn {
    display: block;
    margin: 25px auto 0;
    background-color:red;
    color: white;
    border-radius: 15px;  
}

#API-Btn {
    display: block;
    margin: 25px auto 0;
    background-color: blue;
    color: white;
    border-radius: 15px;  
}

#Rest_API-Btn {
    display: block;
    margin: 25px auto 0;
    background-color: darkblue;
    color: white;
    border-radius: 15px;  
}

#javaScript-Btn {
    display: block;
    margin: 25px auto 0;
    background-color: #F0DB4F;
    color: black;
    border-radius: 15px;  
}

#S-JS {
    color: #e69b00;
} 
/*
#examplesite {
    text-indent: 30px;
}
*/
