/* All Tags */
h1 {
    text-align: center;
    background-color: coral;
    border: coral 25px solid;
    color: white;
}

h3 {
    text-indent: 5%;
}

ul {
    list-style: none;
}

p {
    text-indent: 10%;
}
body {
    background-color: bisque;
}

code:hover {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }

/* Class */
.SQL {
    display: none;
}
.DDL ul li {
 color: green;
}
.DQL ul li {
 color: green;  
}
.DML ul li {
 color: green;  
}
.AI {
    display: none;
}
.http {
    display: none;
}
.RestFUL {
    display: none;
}
.API-Info {
    display: none;
}
.javaScript {
    display: none;
}

.Welcome h2 {
    text-align: center;
}

.SQL-Syntax {
    text-indent: 5%;
    background: lightgrey;
    color: #4169E1;
}
/* IDs */
#H {
    color: red;
}
#T {
    color: red;
}

#P {
    color: red;
}
#s-http {
    color: red;
}
#s-domain {
    color: orange;
}
#s-path {
    color: brown;
}
#s-resource {
    color: darkorange;
}
#SQL-S, #SQL-Q, #SQL-L {
    color: purple;
}

#API-A, #API-P, #API-I {
    color: blue;
}

#SQL-BTN {
    display: block;
    margin: 25px auto 0;
    background-color: darkgreen;
    color: white;
    border-radius: 15px;
   
}

#AI-btn {
    display: block;
    margin: 25px auto 0;
    background-color: orange;
    color: white;
    border-radius: 15px;  
}

#s-AI {
 color: #FF8C00;
}

#HTTP-Btn {
    display: block;
    margin: 25px auto 0;
    background-color:red;
    color: white;
    border-radius: 15px;  
}

#API-Btn {
    display: block;
    margin: 25px auto 0;
    background-color: blue;
    color: white;
    border-radius: 15px;  
}

#Rest_API-Btn {
    display: block;
    margin: 25px auto 0;
    background-color: darkblue;
    color: white;
    border-radius: 15px;  
}

#javaScript-Btn {
    display: block;
    margin: 25px auto 0;
    background-color: #F0DB4F;
    color: black;
    border-radius: 15px;  
}

#S-JS {
    color: #e69b00;
} 

#HTTP-img {
    display: block;
    margin: 0 auto;
}

#HTTP-Get {
    color: green;
}

#HTTP-Post {
    color: orange;
}

#HTTP-Put {
    color: rgb(0, 255, 221);
}

#HTTP-Delete {
    color: red;
}
/*
#examplesite {
    text-indent: 30px;
}
*/
